<!-- navbar -->
<app-navbar></app-navbar>

<!-- main header -->
<div class="container">
  <div class="row">
    <div class="twelve column">
      <div class="header">
        <div id="particles-js" class="header__particles"></div>
        <div class="header__container">
          <p class="header__text">
            Freelance
          </p>
          <p class="header__text">
            Web Developer
          </p>
          <p class="header__text">
            For Hire
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- profile & skill set -->
<div class="container">
  <div class="row">
    <div class="twelve column">
      <div class="header">
      </div>
    </div>
  </div>
</div>

<!-- portfolio -->
<div class="container">
  <div class="row">
    <div class="twelve column">
      <div class="header">
      </div>
    </div>
  </div>
</div>
