@import 'partials/_variables';

.header {
  padding-top: 10rem;
  width: 100%;
  font-family: $font-raleway;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  &__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__text {
    font-size: 4rem;
    font-weight: 300;
    white-space: nowrap;
    margin: 0;
    line-height: 1;
  }
}

/* Larger than mobile */
@media (min-width: $bp-mobile ) {}

/* Larger than phablet */
@media (min-width: $bp-phablet) {}

/* Larger than tablet */
@media (min-width: $bp-tablet) {}

/* Larger than desktop */
@media (min-width: $bp-desktop ) {}

/* Larger than Desktop HD */
@media (min-width: $bp-desktophd) {}
