<!-- navbar -->
<app-navbar></app-navbar>

<!-- main header -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="header">
        <div id="particles-js" class="header__particles"></div>
        <div class="header__container">
          <p class="header__text">
            Freelance&nbsp;
          </p>
          <p class="header__text">
            Web Developer&nbsp;
          </p>
          <p class="header__text">
            for Hire&nbsp;
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- intro -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="section intro section--center">
        <img class="intro__me" src="assets/images/me.jpg">
        <p>
          My name is Joaquin and I develop apps with performance in mind; no copy & paste
          programming here. I'm highly proficient in
          <span class="intro__highlight">Angular + Node.js</span>, but picking up a new framework or
          language isn't a problem.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- about me cards -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="section section--center about-me-card">
        <span class="about-me-card__icon icon-graduation"></span>
        <h5 class="about-me-card__title">
          Experienced
        </h5>
        <span class="about-me-card__description">
          I have a CS degree and over {{ experienceInYears }} years experience as a software
          developer.
        </span>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="section section--center about-me-card">
        <span class="about-me-card__icon icon-peace"></span>
        <h5 class="about-me-card__title">
          Integrity
        </h5>
        <span class="about-me-card__description">
          I understand that all businesses are looking for value; and I strive to make sure that my
          work will always match your expectations.
        </span>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="section section--center about-me-card">
        <span class="about-me-card__icon icon-tools"></span>
        <h5 class="about-me-card__title">
          Craftsman
        </h5>
        <span class="about-me-card__description">
          I'm constantly honing my skills in crafting readable, scalable, and maintainable code.
        </span>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="section section--center about-me-card">
        <span class="about-me-card__icon icon-handshake"></span>
        <h5 class="about-me-card__title">
          Team Player
        </h5>
        <span class="about-me-card__description">
          I'm a firm believer that the best way to accomplish a task is by establishing a mutual
          goal, communicating issues openly, and coordinating consistently.
        </span>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="section section--center about-me-card">
        <span class="about-me-card__icon icon-child"></span>
        <h5 class="about-me-card__title">
          Growth Mindset
        </h5>
        <span class="about-me-card__description">
          I'm always in a state of learning and improving myself, both as a developer and as a
          person.
        </span>
      </div>
    </div>
  </div>
</div>

<!-- projects -->
<app-projects></app-projects>

<!-- contact me -->
<app-contact></app-contact>

<!-- footer -->
<app-footer></app-footer>
