@import 'partials/_variables';

.header {
  padding: 5rem 0;
  width: 100%;
  font-family: $font-raleway;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  &__particles {
    height: 100%;
    width: 100%;
  }
  &__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__text {
    font-size: 3.5rem;
    font-weight: 300;
    white-space: nowrap;
    margin: 0;
    line-height: 1;
  }
}

.intro {
  margin: 8rem 0 7rem;
  text-align: center;
  &__me {
    overflow: hidden;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto 2rem;
  }
  &__highlight {
    color: $hex-orange;
    white-space: nowrap;
  }
}

.about-me-card {
  text-align: center;
  margin: 5rem auto;
  max-width: 235px;
  &__icon {
    margin: 0;
    font-size: 3rem;
  }
  &__title {
    font-size: 2rem;
  }
}

/* Larger than 576px */
@media (min-width: $bp-sm) {
  .header {
    &__container {
      text-align: center;
      width: 100%;
    }
    &__text {
      font-size: 4rem;
      display: inline-block;
    }
  }
  .project {
    &__name {
      font-size: 1.2rem;
    }
    &__role {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
}

/* Larger than 768px */
@media (min-width: $bp-md) {
  .project {
    &__name {
      font-size: 2rem;
    }
    &__role {
      font-size: 1.2rem;
      margin-bottom: 3rem;
    }
  }
  .project {
    margin-bottom: 28px;
  }
}

/* Larger than 992px */
@media (min-width: $bp-lg) {
  .project {
    margin-bottom: 38px;
  }
}

/* Larger than 1200px */
@media (min-width: $bp-xl) {
}
