@import 'partials/_variables';

.project {
  padding: 0;

  &__close {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    &__icon:before {
      margin: 0;
    }
    height: 30px;
    width: 30px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
  }
  &__carousel {
    border-bottom: 5px solid $hex-orange;
  }
  &__content {
    padding: 1rem;
  }
  &__screenshot {
    width: 100%;
    display: block;
    background-color: #000;
  }
}
