<div class="modal-body project">
  <button type="button" class="project__close close" aria-label="Close" (click)="bsModalRef.hide()">
    <span class="project__close__icon icon-close"></span>
  </button>
  <div class="project__carousel">
    <carousel [interval]="false">
      <slide *ngFor="let screenshot of project.screenshotUrls">
        <img class="project__screenshot" [src]="screenshot" />
      </slide>
    </carousel>
  </div>
  <div class="container project__content">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="project__name">{{ project.name }}</h1>
        <p class="project__role">{{ project.role }}</p>
        <ul class="project__skills">
          <li *ngFor="let skill of project.skills">{{ skill }}</li>
        </ul>
      </div>
      <div class="col-sm-8">
        <h2 class="project__header">PROJECT</h2>
        <p class="project__description" [innerHtml]="project.description.project"></p>
        <h2 class="project__header mt-4">ROLE</h2>
        <p class="project__description" [innerHtml]="project.description.job"></p>
      </div>
    </div>
  </div>
</div>
