<footer class="container-fluid footer">
  <div class="row">
    <div class="col-sm">
      <ul class="social-media">
        <li class="social-media__item">
          <a
            class="social-media__link"
            href="https://www.linkedin.com/in/joaquin-io"
            target="_blank"
            ><span class="icon-linkedin"></span
          ></a>
        </li>
        <li class="social-media__item">
          <a class="social-media__link" href="https://github.com/jnoortiz" target="_blank"
            ><span class="icon-github"></span
          ></a>
        </li>
      </ul>
      <div class="footer__trademark">
        JOAQUIN ORTIZ <span class="footer__highlight">©2015</span>
      </div>
    </div>
  </div>
</footer>
