<!-- projects header & tags -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="projects">
        <h1 class="projects__header">PROJECTS</h1>
        <p class="projects__description">
          I've been lucky enough to have been part of several teams composed of very talented
          people from all over the world. You'll find projects here where I've taken an active role either as a front-end
          dev or as a full-stack dev.
        </p>
        <ul class="skills">
          <li class="skills__item" [ngClass]="getShowAllClass()" (click)="filterProjectsBySkills()">
            <span class="skills__name">Show All&nbsp;</span>
            <span class="skills__count">({{ projectsCount }})</span>
          </li>
          <li
            class="skills__item"
            [ngClass]="getSkillItemClass(skill)"
            (click)="filterProjectsBySkills(skill)"
            *ngFor="let skill of portfolio.skills"
          >
            <span class="skills__name">{{ skill.name }}&nbsp;</span>
            <span class="skills__count">({{ skill.count }})</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- project cards -->
<div class="container">
  <div class="row">
    <ng-container *ngFor="let project of portfolio.projects">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="project-card" [ngStyle]="{ 'background-color': project.thumb.bgColor }">
          <img class="project-card__brand" [src]="project.thumb.brandUrl" />
          <div class="project-card__overlay">
            <div class="project-card__content">
              <h1 class="project-card__name">{{ project.name }}</h1>
              <h2 class="project-card__role">{{ project.role }}</h2>
              <button class="btn project-card__button" (click)="openModal(project.id)">View Info</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
