/* breakpoints */
$bp-mobile    : 400px;
$bp-phablet   : 550px;
$bp-tablet    : 750px;
$bp-desktop   : 1000px;
$bp-desktophd : 1200px;

/* fonts */
$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-poiret-one: 'Poiret One', cursive;

/* colors */
$hex-orange: '#ff9932'
