@import 'partials/variables';

html {
  font-size: 62.5%;
}

body {
  font-family: $font-roboto;
  font-weight: 300;
  position: relative;
  font-size: 1.5rem;
  &.body--modal-open {
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-roboto;
  font-weight: 400;
}
